<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>International Flowers</h1>
        <nav>
            <a href="/index">FLOWERS</a>
            <a href="/buy">BUY</a>
            <a href="/orders">ORDERS</a>
        </nav>
    </header>

    <table class="orders">
        <th><h2>Order History</h2></th>

        <%- tbody %>
    </table>
    </div>

</body>

</html>